@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Puddles&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

@import "tailwindcss";

body {
  width: 100%;
  background-color: #00a63e;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: oklch(98.2% 0.018 155.826);
}

a {
  padding-left: 1em;
}

.back-logo {
  font-family:
    "Rubik Puddles",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
button:hover {
  cursor: pointer;
}

div.marquee {
  z-index: -1;
}
div.hero {
  z-index: 0;
}
span.highlight {
  font-family: "Italianno", sans-serif;
  color: oklch(62.7% 0.194 149.214);
}
